#price_table_options_main .allrows {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}

#price_table_options_main .info-container {margin: 10px}

#price_table_options_main .info-row {width: 100%}

#price_table_options_main .info-row .subrow {
	display: grid;
	align-items: center;
	border-radius: 5px;
	background-color: #f9f9f9;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

#price_table_options_main .info-row .info-row-desktop { grid-template-columns: .4fr 2fr 1fr 1fr auto min-content }

/* mobile mode */
#price_table_options_main .info-row .info-row-mobile { display: none; grid-template-columns: .2fr .2fr .2fr .2fr .2fr .1fr }
#price_table_options_main .info-row .info-row-mobile .col { justify-content: center }
#price_table_options_main .info-row .info-row-mobile .unit {display: none;}
#price_table_options_main .info-row .info-row-mobile .text {font-size: 1rem;}

/* Mobile Mode Activation */
@media (max-width: 768px) {
	#price_table_options_main .info-row .info-row-desktop {display: none!important;}
	#price_table_options_main .info-row .info-row-mobile {display: grid!important;}
	#price_table_options_main .info-row:hover {transform: none!important;}
}

#price_table_options_main .row-size {
	font-weight: bold;
  	text-align: center;
  	font-size: 2em;
}

#price_table_options_main .stock-title .title-main {
    display: block;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size: 1.3em;
}

#price_table_options_main .stock-title .title-sub {
	display: flex;
	color: #666;
	font-size: 0.8em;
	align-items: baseline;
}

#price_table_options_main .stock-title .title-sub .weight {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	color: #15a1ed;
	font-size: 0.8em;
	margin: 0 2px;
}

#price_table_options_main .info-row-mobile .weight {
	display: flex;
	justify-content: center;
}

#price_table_options_main .stock-title .title-sub .unit {
	display: block;
	color: #15a1ed;
	font-size: 0.4em;
}

#price_table_options_main .price-information {
	display: flex;
	align-items: center;
}

#price_table_options_main .price-information .price {
	display: flex;
	align-items: center;
}

#price_table_options_main .status-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 30px;
	border-radius: 20em;
	padding: 2px 7px;
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

#price_table_options_main .info-row-mobile .status-box {margin-left: 0; padding: 0;}
/* Phone Condition */
#price_table_options_main .phonecall {
	width: fit-content;
	text-decoration: none;
}
#price_table_options_main .phonecall .arrow-icon::before {
	content: "\f095";
	color: #000;
	font-weight: bold;
	border: 2px solid #000;
	border-radius: 50%;
	padding: 6px;
}

#price_table_options_main .phonecall .status-number {
	color: #000;
}

/* when the change rate is positive */
#price_table_options_main .info-row .info-row-desktop .price-information .status-box.up {background-color: #4CAF50}
#price_table_options_main .info-row .info-row-mobile .price-information .status-box.up {color: #4CAF50}
#price_table_options_main .info-row .price-information .status-box.up .arrow-icon::before {content: "\f35b"}

/* when the change rate is negative */
#price_table_options_main .info-row .info-row-desktop .price-information .status-box.down {background-color: #F44336}
#price_table_options_main .info-row .info-row-mobile .price-information .status-box.down {color: #F44336}
#price_table_options_main .info-row .price-information .status-box.down .arrow-icon::before {content: "\f358"}
#price_table_options_main .info-row .price-information .status-box.down .status-number {direction: ltr}

/* when it's on neutral */
#price_table_options_main .info-row .info-row-desktop .price-information .status-box.neutral {background-color: #858585}
#price_table_options_main .info-row .info-row-mobile .price-information .status-box.neutral {color: #5e5e5e}
#price_table_options_main .info-row .price-information .status-box.neutral .arrow-icon::before {content: "\f111"}


#price_table_options_main .arrow-icon::before {
	content: "\f358";
	font-weight: 400;
}

#price_table_options_main .status-number {
	margin-right: 5px;
}

#price_table_options_main .price span.pricenumber {
	font-size: 2em;
	font-weight: 600;
}

#price_table_options_main .price span.currency {
	font-size: 13px;
	font-weight: 200;
}

/* #price_table_options_main .price.phonecall {display: none} */

#price_table_options_main .date-tag {
	display: flex;
	justify-content: center;
}

#price_table_options_main .date-tag > div {
	width: fit-content;
}

#price_table_options_main .date-tag .date {
display: block;
        color: #15a1ed;
/* Date styling */
}

#price_table_options_main .date-tag .tag {
	display: block;
	color: #fff;
	background-color: #15a1ed;
	font-size: 0.8em;
	text-align: center;
	border-radius: 2px;
}

#price_table_options_main .action-buttons .chart-btn,
#price_table_options_main .action-buttons .like-btn {
	background: none;
	border: 1px solid #ddd;
	border-radius: 50%;
	padding: 5px 10px;
	margin-right: 5px;
	cursor: pointer;
	aspect-ratio: 1 / 1;
}

#price_table_options_main .action-buttons .chart-btn::before {
	content: "\f080";
	color: red; /* Or your chosen heart color */
}

#price_table_options_main .action-buttons .like-btn::before {
	content: "\f004";
	color: red; /* Or your chosen heart color */
}
#price_table_options_main .action-buttons {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	align-items: center;
}
#price_table_options_main .action-buttons .chart-btn pre {
	margin: 0;
	font-family: 'IranYekanWebRegular';
	font-size: 10px;
	color: #78909C;
}

#price_table_options_main .description-label {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	white-space: nowrap;
	align-self: stretch; /* Stretch to fill the grid row height */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px; /* Add padding to the label */
	border-radius: 5px; /* Optional: add border-radius to the label */
	background-color: #E0E0E0;
	color: #000;
	text-decoration: none;
	margin-right: 5px;
}

#price_table_options_main .info-row-mobile .description-label {
	font-weight: 600;
	transform: rotate(0deg)!important;
	writing-mode: horizontal-tb;
	width: fit-content;
	flex-direction: column;
	height: fit-content;
	background-color: #2196F3; /* Blue background for the last column */
	color: #fff;
}

/* Hover effects */
#price_table_options_main .info-row:hover {
  background-color: #f0f0f0; /* Light grey background */
  transform: translateX(10px); /* Slight move to the right */
}
@media (min-width: 769px) {
	#price_table_options_main .info-row:hover .description-label {
		background-color: #2196F3; /* Blue background for the last column */
		color: #fff;
		padding: 5px; /* Add padding to the label */
		border-radius: 5px; /* Optional: add border-radius to the label */
	}
}

@media (max-width: 768px) {
#price_table_options_main .info-row .info-row-desktop {
	grid-template-columns: auto auto auto min-content;
    /* gap: 5px; */
  }
	
  #price_table_options_main .date-tag {display: none}

  #price_table_options_main .stock-title .title-sub,
  #price_table_options_main .date-tag .tag {font-size: 0.7em}
}



/* Accordion */
#price_table_options_main .moredetails.accordion-button {
	color: #444;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	background-color: #f9f9f9;
	width: fit-content;
	margin: 0 auto;
}

#price_table_options_main .moredetails.accordion-button:after {
	content: '\f358';
	color: #fff;
	border-radius: 100%;
	background-color: rgb(0, 84, 194);
}

#price_table_options_main .moredetails.accordion-button.active:after {
	background-color: gray;
	color: rgb(0, 84, 194);
	border-radius: 100%;
}

#price_table_options_main .moredetails.accordion-content > div {
	padding: 18px;
	display: flex;
	justify-content: space-between;
}

#price_table_options_main .moredetails.accordion-content {
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	grid-row: 2;
	grid-column: 1/7;
	width: 100%;
}
